
$touch: $aqua-2-brand;

.section {
  &.touch {
    background-color: $touch;
    color: $white;
    padding: 40px 0;
    border-bottom: none;
    h3 {
      color: $white;
      margin-bottom: 40px;
    }
    .well {
      background-color: transparent;
      border-width: 2px;
      border-radius: 0;
      box-shadow: none;
      text-align: center;
      min-height: initial;

      @media (min-width: $screen-sm) {
        min-height: 185px;
      }

      @media (min-width: $screen-md) {
        min-height: initial;
      }

      img {
        display: block;
        margin: 0 auto 10px;
        height: 70px;
        width: auto;
       }

      a {
        color: $white;
        font-family: $nexa-bold;
        font-size: 18px;
        text-decoration: none;
      }
    }

    &.unactive {
      background-color: $white;
      border-left: 10px solid  $touch;
      h3 {color: $navy-brand;}

      @media (min-width: $screen-sm) {
        background-color: $touch;
        border-left: 10px solid  none;
        h3 {color: $white;}
      }
    }

    &.active {
      .back-home-btn {
        background-color: $white;
        margin-right: -15px;
        margin-left: -15px;
        padding-left: 20px;
        text-align: left;
        width: calc(100% + 30px);

      }
    }
  }
}
